.home-page {
/*   padding: 3em 0 1rem; */
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.0026);
  /* margin-top: 85px; */
}

.home-page .user-info {
  color: var(--color);
}

.home-page .user-info span {
  margin: 0 0.5em;
}

.home-page .user-info .date {
  text-align: left;
}

.Statistecs {
  padding: 2em 0;
}

/* all boxes */
.invoices,
.users {
  box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
  padding: 1em 0 0;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 1em;
}

/*  Start Invioces Box  */
.invoices p:first-of-type {
  color: var(--color);
}

.invoices span {
  display: inline-block;
  margin: 0 0.5em;
}

.invoices span:first-of-type {
  color: #6f86ee;
  font-size: 1.5em;
  font-weight: bold;
}

.invoices span:last-of-type {
  color: var(--color);
}

.invoices a,
.support-link a {
  border-top: 1px dotted #ccc;
  margin: 1em 0;
  padding: 1em 0;
  color: var(--color-secondary);
  display: block;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.users a,
.support-link a {
  margin: 3em 0 0 0;
  color: var(--color-secondary);
}

.Statistecs .invoices a:hover,
.users a:hover {
  color: #000;
}

.users-statistics {
  /*padding: 1em 0 0;*/
  padding-top: 10px;
  font-size: 26px;
  margin-bottom: 5px;
  font-weight: 500;
}

/*  End Invioces Box  */

/* Start User Box */
.users {
  color: var(--color);
}

.users p {
  margin-bottom: 10px;
}

.users span {
  display: inline-block;
  margin-left: 10px;
}

.users .add-user {
  text-align: center;
}

.users .add-user button {
  padding: 0.5em 4em;
  margin: 1.5em 0;
}

/* End box-users */
/* Start Box Notifications */
.notifications {
  background: transparent linear-gradient(99deg, #febeb1 0%, #fca69d 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 20px #bfc7d11a;
  border-radius: 12px;
  padding: 0.5em 1.5em;

  margin: 1em 0;
}

.notifications p {
  color: #fff;
  margin: 5px 0;
}

.notifications p:first-of-type {
  font-size: 15px;
}

.notifications p:last-of-type {
  font-size: 13px;
}

.notifications button {
  background-color: #f4f6f8;
  color: #381058;
  margin-top: 5px;
  padding: 0px;
  padding: 0.5em 0px;
}

/* End Box Notifications */

@media (max-width: 991px) {
  .home-page {
    text-align: center;
  }

  .home-page .user-info .date {
    text-align: center;
    padding: 10px 0;
  }
}

.users {
  color: var(--color);
  text-decoration: none;
}

.users p {
  margin-bottom: 10px;
  text-align: center;
}

.users .title {
  margin-bottom: 0;
  font-size: 17px;
  color: #808080
}

.users span {
  display: inline-block;
  margin-left: 10px;
}

.users .add-user {
  text-align: center;
}

.users .add-user button {
  /* padding: 0.5em 4em; */
  margin: 1.5em 0;
}

.users {
  text-align: center;
  display: block;
  padding: 15px 10px;
}

.users .icon_wrapper {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0840774d;
  margin: 0 auto;
}

.users .icon_wrapper .icon {
  width: 35px;
  height: 30px;
  fill: #084077
}

.user.support-link a {
  margin: 0 !important;
}
