.modal-body {
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.vm--overlay {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  /* z-index: 999; */
  opacity: 1;
}
.vm--container.scrollable .vm--modal{
  position: absolute;
}
.vm--top-right-slot{
  margin: 20px;
}
